{% extends "index_base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="card-warpper row flex-nowrap">
      {% for trend in trends %}
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ trend.date }}</h4>
            <div class="list-group">
              {% for t in trend.topics %}
              <a href={{ t.url }} class="list-group-item list-group-item-action">{{ t.rank }}.　{{ t.topic }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}